/* -----------------------------------
base
----------------------------------- */

body
{
	margin: 0;
	padding: 0;
	color: #000;
	background-color: #fff;
	font-size: 100%;
	font-family: Helvetica,Arial,Univers,Tahoma,sans-serif;
	line-height: 1.3;
}

h2,h3,h4
{
	margin: 0 0 .5em;
	font-family: 'Exo',Helvetica,Arial,Univers,Tahoma,sans-serif;
	text-transform: uppercase;
}

h2 { font-size: 36px; }
h3 { font-size: 28px; }
h4 { font-size: 18px; }

p
{
	margin-top: 0;
	line-height: 1.4;
}

figure { margin: 0 0 1em; }
img { vertical-align: middle; }

/* -----------------------------------
layout
----------------------------------- */

.container
{
	width: 940px;
	margin: 0 auto 20px;
}

.header { padding: 20px 0; }
.logo { margin: 0; }

#content
{
	clear: both;
	overflow: hidden;
	padding: 30px 0;
}

.main
{
	float: left;
	width: 650px;
}

.aside
{
	float: right;
	width: 220px;
	padding: 15px 20px;
	color: #000;
	background-color: #faead7;
}

.footer
{
	overflow: hidden;
	clear: both;
	color: #fff;
	background-color: #1D5981;
}

.footer a:link,.footer a:visited { color: #fff; }

.footer a:focus
{
	color: #fff;
	background-color: #000;
}

.footer a:hover
{
	color: #000;
	background-color: #E79538;
}

.footer a:active
{
	color: #fff;
	background-color: #B40000;
}

.col4
{
	float: left;
	width: 194px;
	padding: 20px;
}

/* -----------------------------------
skiplink
----------------------------------- */

.skipLink a
{
	position: absolute;
	left: -1000px;
	z-index: 2;
	margin: 0;
	padding: .5em;
	background: #fff;
	font-weight: bold;
	text-decoration: none;
}

.skipLink a:active,.skipLink a:focus,.skipLink a:hover
{
	display: inline;
	top: 0;
	left: 0;
	color: #fff;
	background: #000;
}

/* -----------------------------------
nav
----------------------------------- */

#nav ul
{
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #1D5981;
}

.lt-ie8 #nav li { display: inline; }

#nav a
{
	float: left;
	padding: .6em 1.2em;
	color: #fff;
	border-right: 1px solid #fff;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}

#nav .current a
{
	color: #000;
	background-color: #E79538;
}

#nav a:focus,#nav .current a:focus
{
	color: #fff;
	background-color: #000;
}

#nav a:hover
{
	color: #000;
	background-color: #E79538;
}

#nav a:active,#nav .current a:active
{
	color: #fff;
	background-color: #B40000;
}

/* -----------------------------------
form
----------------------------------- */

.row-form
{
	clear: left;
	margin: 0 0 10px;
}

.label
{
	display: block;
	margin: 0 0 5px;
	text-transform: uppercase;
}

.input
{
	width: 198px;
	margin: 0;
	padding: 7px 10px;
	border: 1px solid #E79538;
}

/* -----------------------------------
button
----------------------------------- */

.btn
{
	display: inline-block;
	margin: 0;
	padding: .8em 1.2em;
	border: 0;
	color: #000;
	background-color: #E79538;
	text-align: center;
	text-decoration: none;
	line-height: 1;
	text-transform: uppercase;
	cursor: pointer;
}

.btn:focus
{
	color: #fff;
	background-color: black;
	border: 1px solid #000;
}

.btn:hover
{
	color: #fff;
	background-color: #084c7f;
	border: 1px solid #084c7f;
}

.btn:active
{
	color: #fff;
	background-color: #960000;
	border: 1px solid #960000;
}

/* -----------------------------------
classes
----------------------------------- */

.color1 { color: #1D5981; }
.color2 { color: #E69438; }

.list-unstyled
{
	margin: 0;
	padding: 0;
	list-style: none;
}

.heading-footer
{
	color: #fff;
	padding: .3em 0 .3em 38px;
	background-image: url(logo-footer.jpg);
	background-position: 0 50%;
	background-repeat: no-repeat;
}
