table
{
  width: 600px;
  border-collapse: collapse;
  font-size: 80%;
  font-family: Arial, Helvetica, sans-serif;
}

th
{
  border-left: 1px solid #FFFFFF;
  padding: 0.5em;
  background-color: #3399FF;
  background-image: url(../images/table_header.jpg);
  background-repeat: repeat-x;
  color: #FFFFFF;
  text-align: center;
}

th.c1
{
  border-left: 1px solid #0066CC;
  text-align: left;
}

th.c4
{
  border-right: 1px solid #0066CC;
}

th.sortedAscending
{
  padding-right: 2em;
  background-image: url(../images/arrow_up.gif);
  background-repeat: no-repeat;
  background-position: 95% 50%;
}

th.sortedDescending
{
  padding-right: 2em;
  background-image: url(../images/arrow_down.gif);
  background-repeat: no-repeat;
  background-position: 95% 50%;
}

th a
{
  display: block;
  color: #FFFFFF;
  text-decoration: none;
}

* html th a
{
  height: 1px;
}

td
{
  border: 1px solid #0066CC;
  padding: 0.5em;
  text-align: center;
}

td.c1
{
  text-align: left;
}